---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -readability-identifier-length,
        -readability-uppercase-literal-suffix,
        -hicpp-uppercase-literal-suffix,
"
CheckOptions:
    - key: misc-include-cleaner.IgnoreHeaders
      value: "(Eigen|fmt|spdlog|CLI|catch2|nlohmann)/.*"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
